body { 
    background-color: #000000; 
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 
        'Open Sans', 'Helvetica Neue', sans-serif; 

} 

.text-slider-items { 
    display: none; 
} 

.heading { 
    margin-top: 200px; 
    text-align: center; 
} 

.heading h1 { 
    color: limegreen; 
    font-size: 70px; 
} 

.heading h3 { 
    color: #ffffff; 
    font-size: 20px; 
} 