body{
    background-color: #000;
    margin: 0;
    padding: 0;
}
* {
    /* font-size: 62.5%; */
    color: gray;

}
/* .sidebar {
    width: 20%;
    height: 100%;
    border: 2px dotted floralwhite;
} */
/* Hidden top navbar */
.navbar-top {
    display: none;
    
}
.sidebar {
    background-color: pink;
}
/* Main */
/* Sidebar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: #000;
    position: fixed;
    height: 100%;
    overflow: auto;
    border: 1px solid firebrick;
}
li a {
    display: block;
    /* font-size: 9em; */
    color: gray;
    padding: 8px 16px;
    text-decoration: none;
}
li a.active {
    background-color: #4CAF50;
    color: white;
}
li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
.main {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-content: stretch;
}
.home-content, .about-content,
.project-content, conatct-content, .footer-content {
    width: 80%;
    height: 100%;
    
}