/*
* Main CSS Files
 */

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';

}
body {
    /* min-height: 100vh; */
    background-color:  #000000;  /* Black*/
}
.main {
    display: flex;
    flex-direction: column;
    margin-left: 2.5%;
    padding: 1px 16px;
    height: 100%;
    border: 2px solid chartreuse;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
}
.header{
    color: #faebd7;
    border: 5px dotted slateblue;
}
.section-info {
    color: #faebd7;
    text-align: center;
    height: 600px;
    width: 100%;
    border: 2px solid hotpink;
}

