/*
* Main CSS Files
 */

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

/*********** Overall CSS Attributes ***********/
::root {
    font-size: 62.5%; /* 1 rem equals 10px*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    color: #faead6; 
    
}
body {
    min-height: 100%;
    background-color:  #000000;  /* Black*/
}
.section-info {
    height: 600px;
    width: 100%;
    border: 2px solid hotpink;
}


/*********** Main Body ***********/
.main {
    display: flex;
    flex-direction: column;
    margin: .5rem .5rem 0 3.5rem;
    /* padding: 1px 16px; */
    /* height: 100%; */
    /* border: 2px solid chartreuse; */
}

/*********** Home Section ***********/
.flex-column-one {
    display: flex;
    flex-direction: column;
    height: 120vh;
    justify-content: space-around;
    align-items: stretch;
    outline: 5px solid cornflowerblue;
}
/* .typewriter {
    
} */
/* Typewriter */
.text-slider-items { 
    display: none; 
} 
.heading { 
    margin-top: 1%; 
    width: 100%;
    height: 100%;
    text-justify: center;
    text-align: center; 
    /* outline: 2px dotted firebrick; */
}
.heading h1 { 
    color: limegreen; 
    font-size: 70px; 
    /* outline: 2px solid tomato; */
} 
.heading h3 { 
    color: #ffffff; 
    font-size: 20px; 
}
/* Image Heading */
.image-home {
    display: flex;
    /* width: 50%; */
    width: 100%;
    /* height: 90%; */
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    /* outline: 2px solid silver; */
}
.image-home img {
    display: flex; 
    height: 600px;
    /* filter: grayscale(100%); */
    margin: 0 .5rem .5rem 0;
    padding: .5rem;
    /* outline: 10px solid green; */
}

/*********** About Section ***********/
.flex-row-one {
    display: flex;
    flex-direction: row;
    height: 120vh;
    outline: 3px solid greenyellow;
}
.about {
    width: 50%;
    margin: 5rem;
}
.about h2{
    text-align: left;
    margin-left: 5%;
    /* padding: 0 .5rem; */
}
.about p{
    text-align: left;
    margin-left: 5%;
}
.fakeimg-one {
    width: 450px;
    height: 550px;
    /* padding: .5rem; */
    background-color: gray;
    margin: 1rem;
    outline: 10px solid green;
}
.parallax-one{
    display: flex;
    flex-grow: 2;
    /* background-image: url(); */
    width: 35%;
    justify-content: center;
    align-items: center;
    /* outline: 2px solid violet; */
}

/*********** Skills Section ***********/
.flex-row-two {
    display: flex;
    flex-direction: row;
    height: 120vh;
    /* padding-top: 5rem; */
    outline: 3px solid wheat;
    margin-bottom: -11.5rem;
}
.skills {
    width: 50%;
    height: 100%;
    margin-right: 3rem;
    outline: 5px solid red;
}
.fakeimg-two {
    width: 450px;
    height: 550px;
    padding: .5rem;
    background-color: gray;
    margin: 3rem;
    outline: 10px solid green;
}
.skills h2{
    text-align: left;
    margin-left: 5%;
    padding: .5rem;
}
.skills p{
    text-align: left;
    margin-left: 5%;
}
.parallax-two{
    display: flex;
    flex-grow: 2;
    /* background-image: url(); */
    width: 45%;
    justify-content: center;
    align-items: center;
    /* outline: 2px solid violet; */
}

/*********** Project Section ***********/
.flex-row-three {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 120vh;
    margin-bottom: -11.5rem;
    /* outline: 3px solid turquoise; */
} 
.projects {
    width: 100%;
    outline: 3px solid ivory;
}
.project-header {
    width: 100%;
    outline: 2px solid purple;
}
.project-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.fakeimg-three {
    width: 10rem;
    height: 10rem;
    padding: .2rem;
    background-color: gray;
    border-radius: 50%;
    margin: 3rem;
    outline: 10px solid green;
}   

/*********** Contact Section ***********/
.flex-row-four {
    display: flex;
    flex-direction: row;
    height: 120vh;
    outline: 3px solid turquoise;
} 