/*
* Main CSS Files
 */

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

/*********** Overall CSS Attributes ***********/
::root {
    font-size: 62.5%; /* 1 rem equals 10px*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    color: #faead6; 
    
}
body {
    min-height: 100%;
    background-color:  #000000;  /* Black*/
}



/*********** Main Body ***********/
.main {
    display: flex;
    flex-direction: column;
    margin: .5rem .5rem 0 3.5rem;
    /* border: 2px solid chartreuse; */
}

/*********** Home Section ***********/
.flex-column-one {
    display: flex;
    flex-direction: column;
    height: 120vh;
    justify-content: space-around;
    align-items: stretch;
    /* outline: 5px solid cornflowerblue; */
}

/* Typewriter */
.text-slider-items { 
    display: none; 
} 
.heading { 
    margin-top: 1%; 
    width: 100%;
    height: 100%;
    text-justify: center;
    text-align: center; 
    /* outline: 2px dotted firebrick; */
}
.heading h1 { 
    color: limegreen; 
    font-size: 70px; 
    /* outline: 2px solid tomato; */
} 
.heading h3 { 
    color: #ffffff; 
    font-size: 20px; 
}
/* Image Heading */
.image-home {
    display: flex;
    /* width: 50%; */
    width: 100%;
    /* height: 90%; */
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    /* outline: 2px solid silver; */
}
.image-home img {
    display: flex; 
    height: 600px;
    opacity: 50%;
    margin: 0 .5rem .5rem 0;
    padding: .5rem;
    border-radius: 10%;
    /* outline: 10px solid green; */
}

/*********** About Section ***********/
.section-info-about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-around;
    width: 100%;
    height: 100vh;
    /* outline: 3px solid greenyellow; */
}
.about {
    width: 60%;
    height: 60%;
    padding: 5rem 3rem;
    /* outline: 3px solid pink; */
}
.about h2{
    text-align: left;
    border-bottom: .3rem solid #242121;
}
.about p{
    text-align: justify;
}
.parallax-one {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    /* outline: 2px solid powderblue;   */
}
.fakeimg-one {
    width: 80%;
    height: 50%;
    margin-top: -10rem;
    background-color: gray;
    align-items: center;
    /* outline: 10px solid green; */
}


/*********** Skills Section ***********/
.section-info-skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-around;
    width: 100%;
    height: 100vh;
    outline: 3px solid greenyellow;
}
.parallax-two {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    outline: 2px solid powderblue;  
}
.fakeimg-two {
    width: 80%;
    height: 80%;
    background-color: gray;
    align-items: center;
    /* outline: 10px solid green; */
}
.skills {
    width: 50%;
    height: 70%;
    padding: 5rem 3rem;
    outline: 3px solid pink;
}
.skills h2{
    text-align: left;
    border-bottom: .3rem solid #242121;
}
.skills p{
    text-align: justify;
}
.slider {
    width: 60%;
    text-align: center;
    margin: -6rem 0 1rem 50%;
    padding: .5rem;
    outline: 2px solid sandybrown;
}

/*********** Project Section ***********/
.flex-row-three {
    display: flex;
    flex-direction: row;
    height: 100vh;
    outline: 2px solid khaki;
} 
.projects {
    width: 100%;
    /* height: 120vh; */
    margin-top: 5rem;
    /* outline: 3px solid ivory; */
}
.projects h2 {
    width: 50%;
    border-bottom: .3rem solid #242121;
}
.project-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.fakeimg-three {
    width: 10rem;
    height: 10rem;
    padding: .2rem;
    background-color: gray;
    border-radius: 50%;
    margin: 3rem;
    /* outline: 10px solid green; */
}   

/*********** Contact Section ***********/
.flex-row-four {
    width: 100%;
    height: 100vh;
    outline: 3px solid turquoise;
} 






