body{
    font-size: 62.5%;
    margin: 0;
    background-color: #000;
    font-family: Arial;
}
* {
    color: gray;
    box-sizing: border-box;

}
/* Hidden top navbar */
.navbar-top {
    display: none;
    
}
/* TEST CSS */
/* Column container */
.row {  
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  /* .sidebar {
    flex: 20%;
    background-color: #000000;
    padding: 1em;
  } */
   
/* TEST CSS */
.flex-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center; 
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #000;
    position: fixed;
    height: 100%;
    overflow: auto;
    border: 1px solid firebrick;
}
li a {
    display: block;
    font-size: 2em;
    color: gray;
    padding: 8px 16px;
    text-decoration: none;
}
li a.active {
    background-color: #4CAF50;
    color: white;
}
li a:hover:not(.active) {
    background-color: #555;
    color: white;
}


/* Main */
.main {
    display: flex;
    background-color: #000;
    padding: 0;
    width: 80%;
    height: 100%;
    flex-flow: column wrap;
    justify-content: center;
    align-content: flex-start; 
}
.home-content, .about-content,
.project-content, .contact-content, .footer-content {
    font-size: 2em;
    border: 2px solid greenyellow;
}